*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* border: 1px solid black; */
}

@font-face {
  font-family: "CookieMonster";
  src: url("./assets/CookieMonster.ttf") format("truetype"),
  url("./assets/CookieMonster.ttf") format("woff2"),
  url("./assets/CookieMonster.ttf") format("woff");
  font-weight: bold;
}


html{
  font-size: 10px;
}

body{
  --color-primary: #FDCC0D;
  font-family: 'poppins', sans-serif;
}

ul{
  list-style: none;
}

.cookie-font{
  font-family: "CookieMonster";
}


.landing{
    height: 90vh;
    background-image: url('./assets/doodle.png');
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .landing-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;  
}

.landing-heading{
  font-size: 15rem;
  margin-bottom: 10vh;
}

.landing-option-wrapper{
  margin-top: 5vh;
  display: flex;
  font-size: 2.5rem;
  font-weight: 600;
  gap: 10rem;
  cursor: pointer;
}

.game{
  height: 90vh;
}

.game-board{
  padding: 2rem 6rem;
  height: 81vh;
  display: flex;
  gap: 6rem;
  /* justify-content: space-between; */
  background-image: url('./assets/doodle.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.canvas{
  background-color: white;
  box-shadow: 0 0.4rem 1rem 0.3rem rgba(0, 0, 0, 0.25);
  height: 100%;
  aspect-ratio: 1.8/1;
  border-radius: 0.6rem ;
  -webkit-border-radius:0.6rem ;
  -moz-border-radius: 0.6rem ;
  -ms-border-radius: 0.6rem ;
  -o-border-radius: 0.6rem ;
  -webkit-border-radius: 0.6rem ;
}

.options{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.timer{
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  color: white;
  border-radius:0.5rem ;
  -webkit-border-radius:0.5rem ;
  -moz-border-radius:0.5rem ;
  -ms-border-radius:0.5rem ;
  -o-border-radius:0.5rem ;
  width: fit-content;
  padding: 0rem 5rem;
  align-self: center;
}

.menu{
  display: flex;
  justify-content: space-evenly;
}

.menu img{
  width: 3rem;
  cursor: pointer;
}

.leaderboard{
  gap: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  border-radius:0.5rem ;
  -webkit-border-radius:0.5rem ;
  -moz-border-radius:0.5rem ;
  -ms-border-radius:0.5rem ;
  -o-border-radius:0.5rem ;
  box-shadow: 0 0.4rem 1rem 0.3rem rgba(0, 0, 0, 0.25);
  padding: 2rem 1rem;
}

.leaderboard h1{
  font-size: 2rem;
}

.leaderboard ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.leaderboard ul li{
  display: flex;
  align-items: center;
  gap: 1ch;
}

.leaderboard ul li img{
  width: 3ch;
}


/* -----------------Result-Page-----------------*/

.result-wrapper {
  background-image: url('./assets/doodle.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 81vh;
  overflow: hidden;
} 

.result-wrapper h1{
  font-size: 6rem;
}

.result-data-wrapper{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  border-radius: 3rem ;
  -webkit-border-radius: 3rem ;
  -moz-border-radius: 3rem ;
  -ms-border-radius: 3rem ;
  -o-border-radius: 3rem ;
  box-shadow: 0 0.4rem 1rem 0.3rem rgba(0, 0, 0, 0.25);
  width: 60%;
  height: 100%;
  overflow-y: scroll;
  margin-bottom: 3rem;
}

.result-data-wrapper ul{
  width: 100%;  
  padding: 2rem 6rem;
}

.result-data-wrapper ul li{
  display: flex;
  justify-content: space-between;
  padding: 2ch;
}

