*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* border: 1px solid black; */
}

@font-face {
  font-family: "CookieMonster";
  src: url("./assets/CookieMonster.ttf") format("truetype"),
  url("./assets/CookieMonster.ttf") format("woff2"),
  url("./assets/CookieMonster.ttf") format("woff");
  font-weight: bold;
}

html{
  font-size: 10px;
}

body{
  --color-primary: #FDCC0D;
  font-family: 'poppins', sans-serif;
}

.cookie-font{
  font-family: "CookieMonster";
}


.landing{
    height: 90vh;
    background-image: url('./assets/doodle.png');
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .landing-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;  
}

.landing-heading{
  font-size: 15rem;
  margin-bottom: 10vh;
}

.landing-option-wrapper{
  margin-top: 5vh;
  display: flex;
  font-size: 2.5rem;
  font-weight: 600;
  gap: 10rem;
  cursor: pointer;
}

.game{
  height: 90vh;
}

.game-board{
  padding: 2rem 4rem;
  height: 81vh;
  display: flex;
  justify-content: space-between;

}

.canvas{
  box-shadow: 0 0.4rem 1rem 0.3rem rgba(0, 0, 0, 0.25);
  height: 100%;
  aspect-ratio: 1.8/1;
  border-radius: 0.6rem ;
  -webkit-border-radius:0.6rem ;
  -moz-border-radius: 0.6rem ;
  -ms-border-radius: 0.6rem ;
  -o-border-radius: 0.6rem ;
  -webkit-border-radius: 0.6rem ;
}

.options{
  
}
